@{
    ViewData["Title"] = "Station Manager Dashboard";
}

<h2>Station Manager Dashboard</h2>

<a href="/StationManager/CaseReport" class="btn btn-secondary">CaseReport</a>
<a href="/StationManager/Tasks" class="btn btn-secondary">Tasks</a>
<a href="/StationManager/AllCases" class="btn btn-primary">See All Case Managers' Tasks</a>
<a href="/CaseManager/AddCaseManager" class="btn btn-secondary">Add Case Manager</a>



@* Terminate Case Managers/Officers *@