@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<a href="/Admin/Index" class="btn btn-primary">Change Roles</a>
<a href="/Admin/AuditLogs" class="btn btn-secondary">View Audit Logs</a>
<a href="/Admin/CurrentLogs" class="btn btn-secondary">View current Logs</a>


<!-- Additional buttons or sections can be added here -->
<p>Welcome to the Admin Dashboard! Use the links above to manage user roles and view audit logs.</p>

