@{
    ViewData["Title"] = "Statistics Dashboard";
}

<h2>Statistics Dashboard</h2>

<a href="/Statistics/CrimeTypes" class="btn btn-primary">Types of Crimes Committed</a>
<a href="/Statistics/CompletedCases" class="btn btn-secondary">Completed Cases</a>
@* <a href="/Statistics/TaskStats" class="btn btn-info">Case Managers' Tasks Stats</a> *@

