@{
    ViewData["Title"] = "Police Officer Dashboard";
}

<h2>Police Officer Dashboard</h2>

<a href="/Suspects/Create" class="btn btn-primary">Record New Suspect</a>
<a href="/Suspects/ListSuspects" class="btn btn-secondary">ListSuspects</a>
<a href="/Home/Search" class="btn btn-secondary">Search for Suspect</a>
<a href="/Offences/AddOffence" class="btn btn-secondary">AddOffence</a>
@* <a href="/Suspects/SuspectDetails" class="btn btn-secondary">Suspect Details</a>
 *@



